* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.header{
	background-color: coral;
	padding: 24px;
}

.header-title{
	font-size: 4rem;
	margin: 0;
	color: black;
	text-align: center;
}
.main-content{
	margin: auto;
text-align: center;
width: 50%;
}